#http://EditorConfig.org

# top-most EditorConfig file
root = true

# Unix-style newlines with a newline ending every file
[*]
insert_final_newline = true
charset = utf-8

# Tab indentation (2 space indentation)
indent_style = space
indent_size = 2

# Remove any whitespace characters preceding newline characters
trim_trailing_whitespace = true
